@import url("https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/desktop.css");
@import url("https://discordstyles.github.io/RadialStatus/RadialStatus.css");

:root,
.theme-dark,
.theme-light {
  --rgb-afk-color: 45, 45, 45;
  --rgb-background: 0, 0, 0;
  --rgb-close-button: 50, 50, 50;
  --rgb-dnd-color: 255, 50, 50;
  --rgb-highlight: 129, 32, 37;
  --rgb-online-color: 57, 175, 20;
  --rgb-streaming-color: 188, 19, 254;
  --rgb-text: 200, 200, 200;
  --highlight: rgb(var(--rgb-highlight));
  --online-color: rgb(var(--rgb-online-color));
  --afk-color: rgb(var(--rgb-afk-color));
  --dnd-color: rgb(var(--rgb-dnd-color));
  --streaming-color: rgb(var(--rgb-streaming-color));
  --close-button: rgb(var(--rgb-close-button));
  --text: rgb(var(--rgb-text));
  --header-primary: rgb(255, 255, 255);
  --header-secondary: rgb(200, 200, 200);
  --text-brand: rgb(45, 45, 45);
  --text-link: rgb(75, 75, 255);
  --background: rgb(0, 0, 0);
  --background-accent: var(--background);
  --background-base-low: rgb(20, 20, 20);
  --background-base-lowest: rgb(20, 20, 20);
  --background-blur: 0px;
  --background-brightness: 100%;
  --background-floating: rgb(20, 20, 20) !important;
  --background-image: unset;
  --background-position: center;
  --background-size: cover;
  --background-primary: rgb(20, 20, 20) !important;
  --background-secondary: rgb(20, 20, 20) !important;
  --background-secondary-alt: var(--background);
  --background-tertiary: rgb(20, 20, 20) !important;
  --background-nested-floating: var(--background);
  --background-surface-high: rgb(20, 20, 20);
  --channeltextarea-background: var(--background);
  --chat-background: var(--background);
  --chat-input-container-background: var(--background);
  --input-background: var(--background);
  --modal-background: var(--background);
  --modal-footer-background: var(--background);
  --primary-630: var(--background);
  --member-list-background: rgb(99, 99, 99);
  --background-mentioned: rgb(48, 9, 9);
  --background-mentioned-hover: rgb(48, 48, 48);
  --background-message-hover: rgb(27, 27, 27);
  --background-message-automod: rgba(var(--rgb-highlight), 0.2);
  --background-message-automod-hover: rgba(var(--rgb-highlight), 0.4);
  --background-message-highlight: rgba(var(--rgb-highlight), 0.3);
  --background-message-highlight-hover: rgb(129, 32, 37);
  --background-modifier-hover: rgba(255, 255, 255, 0.1);
  --background-modifier-selected: rgba(46, 46, 46, 0.322);
  --background-modifier-accent: rgba(var(--rgb-highlight), 0.2);
  --background-modifier-active: rgba(var(--rgb-highlight), 0.3);
  --app-border-frame: rgb(var(--rgb-highlight));
  --border-faint: rgb(129, 32, 37);
  --border-subtle: rgb(var(--rgb-highlight));
  --chat-border: var(--highlight);
  --logo-primary: var(--highlight);
  --bg-brand: rgba(0, 100, 255, 0.6);
  --bg-surface-overlay: var(--background);
  --status-danger: var(--dnd-color);
  --status-positive: var(--online-color);
  --status-warning: var(--afk-color);
  --interactive-normal: rgb(199, 199, 199);
  --interactive-hover: rgba(255, 255, 255, 0.911);
  --interactive-active: rgb(164, 164, 164);
  --interactive-muted: rgb(99, 99, 99);
  --text-muted: var(--text);
  --text-normal: var(--text);
  --text-danger: var(--dnd-color);
  --text-positive: var(--online-color);
  --text-warning: var(--afk-color);
  --text-link-low-saturation: rgba(var(--rgb-highlight), 0.5);
  --textbox-markdown-syntax: var(--text-link);
  --button-brand-background: rgba(var(--rgb-highlight), 0.2);
  --button-brand-background-hover: rgba(var(--rgb-highlight), 0.7);
  --button-brand-background-active: rgba(var(--rgb-highlight), 1);
  --button-brand-background-disabled: rgba(var(--rgb-highlight), 0.2);
  --button-primary-background: rgba(var(--rgb-highlight), 0.2);
  --button-primary-background-hover: rgba(var(--rgb-highlight), 0.7);
  --button-primary-background-active: rgba(var(--rgb-highlight), 1);
  --button-primary-background-disabled: rgba(var(--rgb-highlight), 0.2);
  --button-filled-brand-background: rgba(var(--rgb-highlight), 0.2);
  --button-filled-brand-background-hover: rgba(var(--rgb-highlight), 0.7);
  --button-filled-brand-background-active: rgba(var(--rgb-highlight), 1);
  --button-filled-brand-background-border: rgba(var(--rgb-highlight), 0.5);
  --button-danger-background: rgba(var(--rgb-close-button), 0.2);
  --button-danger-background-hover: rgba(var(--rgb-close-button), 0.7);
  --button-danger-background-active: rgba(var(--rgb-close-button), 1);
  --button-danger-background-disabled: rgba(var(--rgb-close-button), 0.2);
  --button-positive-background: rgba(var(--rgb-online-color), 0.2);
  --button-positive-background-hover: rgba(var(--rgb-online-color), 0.7);
  --button-positive-background-active: rgba(var(--rgb-online-color), 1);
  --button-positive-background-disabled: rgba(var(--rgb-online-color), 0.2);
  --scrollbar-auto-scrollbar-color-thumb: var(--highlight);
  --scrollbar-auto-thumb: var(--highlight);
  --scrollbar-thin-thumb: var(--highlight);
  --search-popout-date-picker-border: 1px solid var(--highlight);
  --search-popout-option-filter-text: rgba(var(--rgb-highlight), 0.7);
  --search-popout-option-user-nickname: var(--highlight);
  --search-popout-option-user-username: rgba(var(--rgb-highlight), 0.7);
  --spoiler-hidden-background: var(--highlight);
  --spoiler-revealed-background: rgba(var(--rgb-highlight), 0.2);
  --transition-time: 5s;
  --profile-body-background-color: rgb(0, 0, 0) !important;
  --profile-gradient-button-color: rgb(0, 0, 0) !important;
  --profile-gradient-note-background-color: rgb(0, 0, 0) !important;
  --profile-gradient-overlay-color: rgb(0, 0, 0) !important;
  --profile-gradient-primary-color: rgb(0, 0, 0) !important;
  --profile-gradient-secondary-color: rgb(0, 0, 0) !important;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 3px;
  --rs-large-spacing: 4px;
  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 4px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --rs-self-speaking-color: #57d39b;
  --rs-phone-color: var(--rs-online-color);
  --rs-phone-visible: none;
}

.typing_b88801.base_b88801 {
  margin-bottom: 6px;
  margin-left: 4px;
}

.typing_b88801.base_b88801 > * {
  line-height: 10px !important;
  font-size: 10px !important;
}

.typing_b88801.base_b88801 > div > span > strong > div > svg {
  height: 10px !important;
  margin-left: 3px;
  margin-top: 3px;
}

.typingDots_b88801 > .ellipsis_b88801 + .text_b88801 {
  font-size: 0;
  height: 16px;
}

.typingDots_b88801 > .ellipsis_b88801 + .text_b88801 > strong {
  font-size: 12px;
}

.typingDots_b88801 > .ellipsis_b88801 + .text_b88801 > strong::after {
  color: var(--text-secondary);
  font-weight: 500;
}

.typingDots_b88801 > .ellipsis_b88801 + .text_b88801 > strong:last-child::after {
  content: " is yapping...";
}

.typingDots_b88801
  > .ellipsis_b88801
  + .text_b88801
  > strong:last-child:not(:first-child)::after {
  content: " are yapping...";
}

.typingDots_b88801
  > .ellipsis_b88801
  + .text_b88801
  > strong:nth-last-child(2)::after {
  content: " and ";
}

.typingDots_b88801
  > .ellipsis_b88801
  + .text_b88801
  > strong:nth-last-child(3)::after {
  content: ", ";
}

.typingDots_b88801
  > .ellipsis_b88801
  + .text_b88801:not(:has(> strong))::after {
  font-size: 12px;
  content: "Several people are yapping...";
}

.username-1A8OIy[href="/users/1236215647310975016"]::after {
  content: "OWNER";
  background-color: #3b82f6;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 600;
  margin-left: 6px;
  vertical-align: middle;
  text-transform: uppercase;
}

.channelBottomBarArea_f75fb0 > div {
  margin: 10px 6px 9px 6px !important;
  min-height: 60px;
}

.channelBottomBarArea_f75fb0 > div > div.scrollableContainer__74017 {
  position: absolute;
  bottom: 0;
  transform: translateY(-4px);
  width: 100%;
}

.attachWrapper__0923f > button {
  margin-left: -9px !important;
}

.stackedBars__74017 {
  margin-bottom: 55px;
}

.menu-3sdvDG {
  background-color: rgb(20, 20, 20) !important;
  color: rgb(220, 220, 220) !important;
}

.menu-3sdvDG .item-1tOPte:hover {
  background-color: rgb(40, 40, 40) !important;
  color: white !important;
}

.colorDefault-CDqZdO,
.label-3CEiKJ {
  color: rgb(220, 220, 220) !important;
}
