/* stop looking at the source code */
:root,
.theme-dark,
.theme-light {
  /* this is just some css snippets to help the code */
  @import url('https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/desktop.css');
  @import url('https://discordstyles.github.io/RadialStatus/RadialStatus.css');
  --activity-card-background: var(--background); /* idk */
  --afk-color: rgb(var(--rgb-afk-color)); /* idk */
  --app-border-frame: rgb(var(--rgb-highlight)); /* idk */
  --background: rgba(58, 58, 58, 0.336);  /* background */
  --background-accent: var(--background);  /* idk */
  --background-base-low: rgb(20, 20, 20);  /* background for the use profile in the bottom */
  --background-base-lowest: rgb(20, 20, 20);  /* background for the channels*/
  --background-blur: 0px; /* idk */
  --background-brightness: 100%; /* idk */
  --background-floating: rgb(255, 255, 255) !important; /* i fargot */
  --background-image: unset; /* image for the background */
  --background-mentioned: rgba(255, 122, 122, 0.17); /*normal background of a message when ur mentioned in a message */
  --background-mentioned-hover: rgba(255, 122, 122, 0.25); /*background of ur mentioned in a message when u hover over it*/
  --background-message-automod: rgba(var(--rgb-highlight), 0.2); /* idk */
  --background-message-automod-hover: rgba(var(--rgb-highlight), 0.4); /* idk */
  --background-message-highlight: rgba(var(--rgb-highlight), 0.3); /* idk */
  --background-message-highlight-hover: rgb(255, 122, 122, 0.61); /* background for messages u hover over */ 
  --background-message-hover: rgba(255, 122, 122, 0.151); /* idk */
  --background-mobile-primary: var(--background); /* idk */
  --background-mobile-secondary: var(--background); /* idk */
  --background-modifier-accent: rgba(var(--rgb-highlight), 0.2); /* idk */
  --background-modifier-active: rgba(var(--rgb-highlight), 0.3); /* idk */
  --background-modifier-hover: rgb(20, 20, 20); /* also background for the channel u hover over */
  --background-modifier-selected: rgb(255, 122, 122, 0.61); /* background for the channel u hover over */
  --background-nested-floating: var(--background); /* idk */
  --background-position: center; /* idk */
  --background-primary: var(--background); /* idk */
  --background-secondary: rgb(0, 0, 0) !important; /* idk */
  --background-secondary-alt: var(--background); /* idk */
  --background-size: cover; /* idk */
  --background-surface-high: rgb(20, 20, 20); /* background for emebers and profiles */
  --background-tertiary: var(--background); /* idk */
  --bg-brand: rgba(0, 100, 255, 0.6); /*background for the thing that says app */
  --bg-surface-overlay: var(--background); /* same for the thing below ts */
  --border-faint: rgb(129, 32, 37); /* the line between server list, channels, chat, and member list */
  --border-subtle: rgb(var(--rgb-highlight)); /* same for the shit above ts but better */
  --brand-experiment: var(--highlight); /* these dont matter. */
  --brand-experiment-05a: var(--highlight); /* this doesnt matter */
  --brand-experiment-100: var(--highlight); /* this doesnt matter */
  --brand-experiment-10a: var(--highlight); /* this doesnt matter */
  --brand-experiment-130: var(--highlight); /* this doesnt matter */
  --brand-experiment-15a: var(--highlight); /* this doesnt matter */
  --brand-experiment-160: var(--highlight); /* this doesnt matter */
  --brand-experiment-200: var(--highlight); /* this doesnt matter */
  --brand-experiment-20a: var(--highlight); /* this doesnt matter */
  --brand-experiment-230: var(--highlight); /* this doesnt matter */
  --brand-experiment-25a: var(--highlight); /* this doesnt matter */
  --brand-experiment-260: var(--highlight); /* this doesnt matter */
  --brand-experiment-300: var(--highlight); /* this doesnt matter */
  --brand-experiment-30a: var(--highlight); /* this doesnt matter */
  --brand-experiment-330: var(--highlight); /* this doesnt matter */
  --brand-experiment-35a: var(--highlight); /* this doesnt matter */
  --brand-experiment-360: var(--highlight); /* this doesnt matter */
  --brand-experiment-400: var(--highlight); /* this doesnt matter */
  --brand-experiment-40a: var(--highlight); /* this doesnt matter */
  --brand-experiment-430: var(--highlight); /* this doesnt matter */
  --brand-experiment-45a: var(--highlight); /* this doesnt matter */
  --brand-experiment-460: var(--highlight); /* this doesnt matter */
  --brand-experiment-500: var(--highlight); /* this doesnt matter */
  --brand-experiment-50a: var(--highlight); /* this doesnt matter */
  --brand-experiment-530: var(--highlight); /* this doesnt matter */
  --brand-experiment-55a: var(--highlight); /* this doesnt matter */
  --brand-experiment-560: var(--highlight); /* this doesnt matter */
  --brand-experiment-600: var(--highlight); /* this doesnt matter */
  --brand-experiment-60a: var(--highlight); /* this doesnt matter */
  --brand-experiment-630: var(--highlight); /* this doesnt matter */
  --brand-experiment-65a: var(--highlight); /* this doesnt matter */
  --brand-experiment-660: var(--highlight); /* this doesnt matter */
  --brand-experiment-700: var(--highlight); /* this doesnt matter */
  --brand-experiment-70a: var(--highlight); /* this doesnt matter */
  --brand-experiment-730: var(--highlight); /* this doesnt matter */
  --brand-experiment-75a: var(--highlight); /* this doesnt matter */
  --brand-experiment-760: var(--highlight); /* this doesnt matter */
  --brand-experiment-800: var(--highlight); /* this doesnt matter */
  --brand-experiment-80a: var(--highlight); /* this doesnt matter */
  --brand-experiment-830: var(--highlight); /* this doesnt matter */
  --brand-experiment-85a: var(--highlight); /* this doesnt matter */
  --brand-experiment-860: var(--highlight); /* this doesnt matter */
  --brand-experiment-900: var(--highlight); /* this doesnt matter */
  --brand-experiment-90a: var(--highlight); /* this doesnt matter */
  --brand-experiment-930: var(--highlight); /* this doesnt matter */
  --brand-experiment-95a: var(--highlight); /* this doesnt matter */
  --brand-experiment-960: var(--highlight); /* this doesnt matter */
  --button-brand-background: rgba(var(--rgb-highlight), 0.2);  /* idk */
  --button-brand-background-active: rgba(var(--rgb-highlight), 1); /* idk */
  --button-brand-background-disabled: rgba(var(--rgb-highlight), 0.2); /* idk */
  --button-brand-background-hover: rgba(var(--rgb-highlight), 0.7); /* idk */
  --button-danger-background: rgba(var(--rgb-close-button), 0.2); /* idk */
  --button-danger-background-active: rgba(var(--rgb-close-button), 1); /* idk */
  --button-danger-background-disabled: rgba(var(--rgb-close-button), 0.2); /* idk */
  --button-danger-background-hover: rgba(var(--rgb-close-button), 0.7); /* idk */
  --button-filled-brand-background: rgba(var(--rgb-highlight), 0.2); /* idk */
  --button-filled-brand-background-active: rgba(var(--rgb-highlight), 1); /* idk */
  --button-filled-brand-background-border: rgba(var(--rgb-highlight), 0.5); /* idk */
  --button-filled-brand-background-hover: rgba(var(--rgb-highlight), 0.7); /* idk */
  --button-outline-danger-background: rgba(var(--rgb-close-button), 0.5); /* idk */
  --button-outline-danger-background-active: rgba(var(--rgb-close-button), 1); /* idk */
  --button-outline-danger-background-hover: rgba(var(--rgb-close-button), 0.7); /* idk */
  --button-outline-danger-border: rgba(var(--rgb-close-button), 0.5); /* idk */
  --button-outline-danger-border-active: rgba(var(--rgb-close-button), 1); /* idk */
  --button-outline-danger-border-hover: rgba(var(--rgb-close-button), 0.7); /* idk */
  --button-outline-danger-text: rgba(var(--rgb-close-button), 0.5); /* idk */
  --button-outline-danger-text-active: rgba(var(--rgb-close-button), 1); /* idk */
  --button-outline-danger-text-hover: rgba(var(--rgb-close-button), 0.7); /* idk */
  --button-outline-positive-background: rgba(var(--rgb-online-color), 0.5); /* idk */
  --button-outline-positive-background-active: rgba(var(--rgb-online-color), 1); /* idk */
  --button-outline-positive-background-hover: rgba(var(--rgb-online-color), 0.7); /* idk */
  --button-outline-positive-border: rgba(var(--rgb-online-color), 0.5); /* idk */
  --button-outline-positive-border-active: rgba(var(--rgb-online-color), 1); /* idk */
  --button-outline-positive-border-hover: rgba(var(--rgb-online-color), 0.7); /* idk */
  --button-outline-positive-text: rgba(var(--rgb-online-color), 0.5); /* idk */
  --button-outline-positive-text-active: rgba(var(--rgb-online-color), 1); /* idk */
  --button-outline-positive-text-hover: rgba(var(--rgb-online-color), 0.7); /* idk */
  --button-outline-primary-background: rgba(var(--rgb-highlight), 0.5); /* idk */
  --button-outline-primary-background-active: rgba(var(--rgb-highlight), 1); /* idk */
  --button-outline-primary-background-hover: rgba(var(--rgb-highlight), 0.7); /* idk */
  --button-outline-primary-border: rgba(var(--rgb-highlight), 0.5); /* idk */
  --button-outline-primary-border-active: rgba(var(--rgb-highlight), 1); /* idk */
  --button-outline-primary-border-hover: rgba(var(--rgb-highlight), 0.7); /* idk */
  --button-outline-primary-text: rgba(var(--rgb-highlight), 0.5); /* idk */
  --button-outline-primary-text-active: rgba(var(--rgb-highlight), 1); /* idk */
  --button-outline-primary-text-hover: rgba(var(--rgb-highlight), 0.7); /* idk */
  --button-positive-background: rgba(var(--rgb-online-color), 0.2); /* idk */
  --button-positive-background-active: rgba(var(--rgb-online-color), 1); /* idk */
  --button-positive-background-disabled: rgba(var(--rgb-online-color), 0.2); /* idk */
  --button-positive-background-hover: rgba(var(--rgb-online-color), 0.7); /* idk */
  --button-primary-background: rgba(var(--rgb-highlight), 0.2); /* idk */
  --button-primary-background-active: rgba(var(--rgb-highlight), 1); /* idk */
  --button-primary-background-disabled: rgba(var(--rgb-highlight), 0.2); /* idk */
  --button-primary-background-hover: rgba(var(--rgb-highlight), 0.7); /* idk */
  --channeltextarea-background: var(--background); /* idk */
  --chat-background: var(--background); /* idk */
  --chat-border: var(--highlight); /* idk */
  --chat-input-container-background: var(--background); /* idk */
  --close-button: rgb(var(--rgb-close-button)); /* idk */
  --dnd-color: rgb(var(--rgb-dnd-color)); /* idk */
  --header-primary: rgb(var(255, 255, 255)); /* idk */
  --header-secondary: rgb(200, 200, 200); /* idk */
  --highlight: rgb(var(--rgb-highlight)); /* highlight? */
  --input-background: var(--background); /* idk */
  --interactive-active: rgb(164, 164, 164);  /* i dont think i know */
  --interactive-hover: rgb(255, 122, 122, 0.61); /* i dont think i know*/
  --interactive-muted: rgb(99, 99, 99); /* i dont think i know*/
  --interactive-normal: rgb(199, 199, 199); /* i dont think i know*/
  --logo-primary: var(--highlight); /* idk */
  --member-list-background: rgb(99, 99, 99); /* doesnt fucking work */
  --modal-background: var(--background); /* idk */
  --modal-footer-background: var(--background); /* idk */
  --online-color: rgb(var(--rgb-online-color)); /* idk */
  --primary-630: var(--background); /* idk */
  --profile-body-background-color: rgb(0, 0, 0) !important; /* idk */
  --profile-gradient-button-color: rgb(0, 0, 0) !important; /* idk */
  --profile-gradient-note-background-color: rgb(0, 0, 0) !important; /* idk */
  --profile-gradient-overlay-color: rgb(0, 0, 0) !important; /* idk */
  --profile-gradient-primary-color: rgb(0, 0, 0) !important; /* idk */
  --profile-gradient-secondary-color: rgb(0, 0, 0) !important; /* idk */
  --rgb-afk-color: 255, 255, 51; /* idk */
  --rgb-background: 0, 0, 0; /* idk */
  --rgb-close-button: 50, 50, 50; /* idk */
  --rgb-dnd-color: 255, 50, 50; /* idk */
  --rgb-highlight: 129, 32, 37; /* highlight for the 3rd time..? */
  --rgb-online-color: 57, 175, 20; /* idk */
  --rgb-streaming-color: 188, 19, 254; /* idk */
  --rgb-text: 200, 200, 200;  /* the color of text */
  --scrollbar-auto-scrollbar-color-thumb: var(--highlight); /* idk */
  --scrollbar-auto-thumb: var(--highlight); /* idk */
  --scrollbar-thin-thumb: var(--highlight); /* idk */
  --search-popout-date-picker-border: 1px solid var(--highlight); /* idk */
  --search-popout-option-filter-text: rgba(var(--rgb-highlight), 0.7); /* idk */
  --search-popout-option-user-nickname: var(--highlight); /* idk */
  --search-popout-option-user-username: rgba(var(--rgb-highlight), 0.7); /* idk */
  --spoiler-hidden-background: var(--highlight); /* idk */
  --spoiler-revealed-background: rgba(var(--rgb-highlight), 0.2); /* idk */
  --status-danger: var(--dnd-color); /* idk */
  --status-positive: var(--online-color); /* idk */
  --status-warning: var(--afk-color); /* idk */
  --streaming-color: rgb(var(--rgb-streaming-color)); /* idk */
  --text: rgb(var(--rgb-text));  /* text again? */
  --text-brand: rgb(var(255, 255, 255)); /* idk */
  --text-danger: var(--dnd-color); /* idk */
  --text-link: rgb(var(75, 75, 255)); /* the color a link is */
  --text-link-low-saturation: rgba(var(--rgb-highlight), 0.5); /* idk */
  --text-muted: var(--text); /* idk */
  --text-normal: var(--text); /* idk */
  --text-positive: var(--online-color); /* idk */
  --text-warning: var(--afk-color); /* idk */
  --textbox-markdown-syntax: var(--text-link); /* idk */
  --transition-time: 5s; /* transition time */
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 3px;
  --rs-large-spacing: 4px;

  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 4px;

  --rs-avatar-shape: 50%;

  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --rs-self-speaking-color: #57d39b;
  --rs-phone-color: var(--rs-online-color);
  --rs-phone-visible: none;
}

*::selection {
  background: rgba(0, 26, 255, 0) !important;
  color: rgb(0, 162, 255) !important;
}

.typing_b88801.base_b88801 {
  margin-bottom: 6px;
  margin-left: 4px;
}

.typing_b88801.base_b88801 > * {
  line-height: 10px !important;
  font-size: 10px !important;
}

.typing_b88801.base_b88801 > div > span > strong > div > svg {
  height: 10px !important;
  margin-left: 3px;
  margin-top: 3px;
}

.typingDots_b88801 > .ellipsis_b88801 + .text_b88801 {
  font-size: 0;
  height: 16px;
}

.typingDots_b88801 > .ellipsis_b88801 + .text_b88801 > strong {
  font-size: 12px;
}

.typingDots_b88801 > .ellipsis_b88801 + .text_b88801 > strong::after {
  color: var(--text-secondary);
  font-weight: 500;
}

.typingDots_b88801 > .ellipsis_b88801 + .text_b88801 > strong:last-child::after {
  content: " is yapping...";
}

.typingDots_b88801 > .ellipsis_b88801 + .text_b88801 > strong:last-child:not(:first-child)::after {
  content: " are yapping...";
}

.typingDots_b88801 > .ellipsis_b88801 + .text_b88801 > strong:nth-last-child(2)::after {
  content: " and ";
}

.typingDots_b88801 > .ellipsis_b88801 + .text_b88801 > strong:nth-last-child(3)::after {
  content: ", ";
}

.typingDots_b88801 > .ellipsis_b88801 + .text_b88801:not(:has(>strong))::after {
  font-size: 12px;
  content: "Several people are yapping...";
}

.username-1A8OIy[href="/users/1236215647310975016]::after {
  content: "OWNER";
  background-color: #3b82f6;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 600;
  margin-left: 6px;
  vertical-align: middle;
  text-transform: uppercase;
}

.channelBottomBarArea_f75fb0 > div {
  margin: 10px 6px 9px 6px !important;
  min-height: 60px;
}

.channelBottomBarArea_f75fb0 > div > div.scrollableContainer__74017 {
  position: absolute;
  bottom: 0;
  transform: translateY(-4px);
  width: 100%;
}

.attachWrapper__0923f > button {
  margin-left: -9px !important;
}

.stackedBars__74017 {
  margin-bottom: 55px;
}

.button_f7ecac.hoverBarButton_f84418:nth-of-type(1),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(2),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(3),
.separator_f84418 {
  display: none;
}
